body
{
    margin:  0 auto;
    background-color: rgb(206, 105, 105);
    position: relative;
}
#container{
    background-color: rgb(14, 19, 43);
}
h1{
    color: rgb(0, 0, 0);
    background-color: rgb(206, 105, 105);
    text-align: center;
    
}
.functions{
    background-color: rgb(206, 105, 105);
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-weight: bold;
    position: relative;
}